<section>
  <header>
    <div>trt-combobox + trt-listbox</div>
    <h3>Multiselect built on Angular Aria</h3>
  </header>

  <div>
    <label for="roles">Roles</label>

    <div class="flex relative">
      <input
        id="roles"
        trtCombobox
        #combobox="trtCombobox"
        readonly
        [value]="displayValue()"
        [(expanded)]="popupExpanded"
        (click)="popupExpanded.set(true)"
      />

      <button
        class="btn btn-ghost btn-square btn-xs rounded-full absolute right-2 top-1/2 -translate-y-1/2"
        type="button"
        (mousedown)="$event.preventDefault()"
        (click)="popupExpanded.set(true)"
      >
        <div [class.rotate-90]="popupExpanded()">
          <fa-icon icon="chevron-right" size="xs"></fa-icon>
        </div>
      </button>

      <ng-template
        [cdkConnectedOverlay]="{
          origin: combobox.combobox.element,
          usePopover: 'inline',
          matchWidth: true,
        }"
        [cdkConnectedOverlayOpen]="popupExpanded()"
      >
        <ng-template trtComboboxPopup [combobox]="combobox.combobox">
          <div
            trtComboboxWidget
            trtListbox
            #listbox="trtListbox"
            [multi]="true"
            focusMode="activedescendant"
            selectionMode="explicit"
            [tabindex]="-1"
            [activeDescendant]="listbox.activeDescendant()"
            [(value)]="selectedValues"
          >
            @for (option of options; track option) {
              <div trtOption [value]="option" [label]="option">
                <span>{{ option }}</span>
                @if (selectedValues().includes(option)) {
                  <fa-icon icon="check" size="2xs"></fa-icon>
                }
              </div>
            }
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</section>
