<section>
  <header>
    <div>trt-combobox + trt-listbox</div>
    <h3>Select built on Angular Aria</h3>
  </header>

  <div>
    <label for="status">Status</label>

    <div class="flex relative">
      <input
        id="status"
        trtCombobox
        #combobox="trtCombobox"
        readonly
        [value]="selectedLabel()"
        [(expanded)]="popupExpanded"
        (click)="popupExpanded.set(true)"
      />

      <button
        class="btn btn-ghost btn-square btn-xs rounded-full absolute right-2 top-1/2 -translate-y-1/2"
        type="button"
        (mousedown)="$event.preventDefault()"
      >
        <div [class.rotate-90]="popupExpanded()">
          <fa-icon icon="chevron-right" size="xs"></fa-icon>
        </div>
      </button>

      <ng-template
        [cdkConnectedOverlay]="{
          origin: combobox.combobox.element,
          usePopover: 'inline',
          matchWidth: true,
        }"
        [cdkConnectedOverlayOpen]="popupExpanded()"
      >
        <ng-template trtComboboxPopup [combobox]="combobox.combobox">
          <div
            trtComboboxWidget
            trtListbox
            class="w-full"
            #listbox="trtListbox"
            focusMode="activedescendant"
            selectionMode="explicit"
            [tabindex]="-1"
            [activeDescendant]="listbox.activeDescendant()"
            [(value)]="selectedOption"
            (click)="closePopup()"
            (keydown.enter)="closePopup()"
            (keydown.space)="closePopup()"
          >
            @for (option of options; track option) {
              <div trtOption class="w-full" [value]="option" [label]="option">{{ option }}</div>
            }
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>

  <app-code-sample title="Markup" badge="Select usage" [code]="codeExample" />

  <app-api-preferences [preferences]="preferences" />
</section>
